<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
        In this configuration file we can use spring profile (new feature coming with Spring Boot).
        In order this add-on works we need to keep logback-spring.xml file name.
    -->

    <!-- OVERRIDING DEFAULT SPRING BOOT LOGBACK CONFIGURATION -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- DEV PROFILE -->
    <springProfile name="default">
        <logger name="com.thorpora" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>

    <!-- PRODUCTION PROFILE -->
    <springProfile name="production">
        <logger name="com.thorpora" level="WARN" additivity="false">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>


</configuration>
